<h1>
	sign up
</h1>
<%= form_for(@user) do |f| %><%= render 'shared/error_messages',
	object: f.object %>
	<div class="form-group">
		<%= f.label :slug, class: 'control-label' %>
		<%= f.text_field :slug, class: 'form-control' %>
	</div>
	<div class="formg-group">
		<%= f.label :slug, class: 'control-label' %>
		<%= f.text_field :slug, class: 'form-control' %>
	</div>
	<div class="formg-group">
		<%= f.label :slug, class: 'control-label' %>
		<%= f.text_field :slug, class: 'form-control' %>
	</div>
	<div class="formg-group">
		<%= f.label :slug, class: 'control-label' %>
		<%= f.password_field :slug, class: 'form-control' %>
	</div>
	<div class="formg-group">
		<%= f.label :slug, class: 'control-label' %>
		<%= f.password_field :slug, class: 'form-control' %>
	</div>
	